:host {
  display: block;
  background-color: #E5E5E5;
}

.filtering-criteria-block__sort-list {
  max-width: 1200px;
  padding: 0 20px;
  min-height: 50px;
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.filtering-criteria-block__sort-list li {
  display: block;
}

.filtering-criteria-block__title {
  width: 70px;
}

.filtering-criteria-block__date-sort {
  width: 55px;
}

.filtering-criteria-block__views-sort {
  width: 100px;
}

span {
  margin: 0 0 0 5px;
  display: block;
  color: #929292;
  font-size: 12px;
}

a {
  display: block;
  margin: 0 5px;
  text-decoration: none;
  color: #2F80ED;
  font-size: 12px;
  &:hover {
    text-decoration: underline;
  }
}

input {
  display: block;
  width: 5px;
  height: 13px;
  font-size: 10px;
  border: none;
  flex-grow: 1;
}

.filtering-criteria-block__word-sort {
  flex-basis: 265px;
  display: flex!important;
  justify-content: space-between;
}

.filtering-criteria-block__word-sort a {
  width: 130px;
  max-height: 14px;
}

.filtering-criteria-block__word-sort form {
  display: flex;
  flex-basis: 150px;
}
