<ul class="filtering-criteria-block__sort-list">
  <li class="filtering-criteria-block__title"><span>Sorting by:</span></li>
  <li class="filtering-criteria-block__date-sort"><a href="#" (click)="onDateSort($event)">{{dateSort}}</a></li>
  <li class="filtering-criteria-block__views-sort"><a href="#" (click)="onViewsSort($event)">{{viewsSort}}</a></li>
  <li class="filtering-criteria-block__word-sort">
    <a href="#" (click)="wordFilterSwitch($event)">{{wordFilter}}</a>
    <form (submit)="$event.preventDefault()">
      <input (input)="onWordFilter()" #filterInput type="text">
    </form>
  </li>
</ul>
