<div class="header__container">
  <div class="header__login-block">
    <a class="header__login-name" href="#">User</a>
    <button class="header__login-logo"></button>
  </div>
  <img class="header__logo" src="../../../assets/img/logo.png" alt="">
  <form class="header__form" action="">
    <div class="header__search-input">
      <input
        type="text"
        #searchInput
        [value]="searchValue"
        [placeholder]="searchPlaceHolder"
        (focus)="searchPlaceHolder = ''"
        (blur)="searchPlaceHolder = searchPlaceHolderStr;"
      >
    </div>
    <button class="header__search-button" (click)="onSearch($event, searchInput.value)">search</button>
    <button class="header__settings-button" (click)="onToggleSettings($event)"></button>
  </form>
</div>
