:host {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 20px;
}

.border-status-r {
  border-color: red;
}

.border-status-g {
  border-color: green;
}

.border-status-b {
  border-color: blue;
}
